<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script src="template-native.js"></script>
        <script type="text/template" id="temp">
        <table border="1" width="400">
        	
        		<% for(var i=0;i<datas.length;i++){%>
                    <tr>
            			<% if( !datas[i].isShow) continue;%>
            			<td><%= datas[i].name%></td>
            			<td><%= datas[i]['age']%></td>
            			<td><%= datas[i]['gender']%></td>
                    </tr>
        		<% }%>
        	
        </table>

        </script>
    </head>
    <body>
    <input type="text" id="txt"><input type="button" value="查询" id="btn">
    <div></div>
    </body>
    <script>
    var div = document.querySelectorAll('div')[0],
    	txt = document.querySelectorAll('#txt')[0],
    	btn = document.querySelectorAll('#btn')[0];

    

    	function render(obj){
    		div.innerHTML = template('temp' , obj);
    	}

    	onload = function( ){

    	
    		var xhr = new XMLHttpRequest();
    		xhr.open('GET' , './datas.json');
    		xhr.send();
    		xhr.onreadystatechange = function(){
    			if( xhr.readyState == 4 && xhr.status == 200){
    				var obj = JSON.parse(xhr.responseText);

    				render(obj);
    				btn.onclick=function(){
    					var text = txt.value;
    					if(text.trim().length == 0) return;

    					obj.datas.forEach(function( v , i ){
    						v.isShow = v.name == text;

    					})
    					render(obj);
    				}
    			}
    		}
    		
    	}
    </script>
</html>